*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/local.properties
/.idea/vcs.xml
/app/.idea/
/app/gradlew
/app/gradlew.bat
/app/local.properties
/.idea/modules.xml
gradle/
build.gradle
.idea/
